nav {
    background-color: mediumpurple;
    width: 150px;
    border: 1px solid darkslateblue;
    height: 140px;
    margin-top: 3px;
    margin-left: 3px;
}
section {
    background-color: cornflowerblue;
    height: 91.4px;
    width: 1355px;
    border: 1px solid darkblue;
    margin-left: 158px;
    display: inline-block;
    position: relative;
    top: -304px;

}
footer {
    background-color: greenyellow;
    height: 5rem;
    margin-top: 5rem;
    border: 1px solid green;
}
.container {
    border: 1px red solid;
    height: 295px;
}
figure {
    background-color: palegoldenrod;
    height: 140px;
    width: 150px;
    margin-left: 3px;
    margin-top: 4px;
    border: 1px solid darkkhaki;
}